<h1>About Us</h1>
<p>
    Travelr allows you to create a journal of the places (countries, states, cities, etc.) that you have been. You can include pictures and text of the awesome (or not so awesome) things that you did while you were there. This will allow you and your friends the ability to find out which museum is worth a visit while in Paris, or which river cruise to take through Amsterdam, based on recommendations from people you trust.
</p>
